<mat-toolbar color="basic" class="toolbar">
    <div class="row-one">
        <div class="container-padding">
            <span>r1c1</span>
        </div>
        <div id="r1c2" class="container-padding">
            <button class="nav-buttons" type="button" mat-raised-button color="basic" (click)="navigateTo('')">
                Home
            </button>
            <button  class="nav-buttons" type="button" mat-raised-button color="basic" (click)="navigateTo('courses')">
                Courses
            </button>
        </div>
        <div class="container-padding">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        </div>
    </div>
</mat-toolbar>