<!-- <div class="row-one">
        <div class="container-padding">
            r1c1
        </div>
        <div (mouseleave)="resetGreeting()" (mouseenter)="showGreeting();" id="r1c2" class="container-padding">
            {{greeting}}
        </div>
        <div class="container-padding">
            r1c3
        </div>
    </div> -->
<mat-toolbar color="basic" class="row-one">
    <mat-toolbar-row>
        <div class="container-padding">
            <span>r1c1</span>
        </div>
        <div (mouseleave)="resetGreeting()" (mouseenter)="showGreeting();" id="r1c2" class="container-padding">
            {{greeting}}
        </div>
        <div class="container-padding">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
        </div>
    </mat-toolbar-row>
</mat-toolbar>